.Navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Navbar p {
  margin: 0;
}
.movie-container img {
  width: 265px;
  margin: 15px 0px 10px 0px;
  border-radius: 10px;
}
.movie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 15px;
  width: 300px;
  height: 720px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  filter: drop-shadow(0.1rem 0.2rem 0.3rem rgb(184, 184, 184));
}

.movie-description {
  width: 250px;
}

.movie-description {
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 25px 0px 0px 0px;
}

.buttons button {
  border-radius: 10px;
  border: none;
  padding: 5px 8px 5px 8px;
  cursor: pointer;
  font-size: 12px;
  margin: 5px;
}

.buttons h3 {
  text-align: center;
}

.likeButton {
  background-color: rgb(50, 179, 50);
  color: white;
}

.dislikeButton {
  background-color: rgb(190, 47, 47);
  color: white;
}
.resetButton {
  background-color: rgb(133, 128, 128);
  color: white;
}

.searchMovie {
  width: 200px;
  height: 30px;
  background-color: rgb(66, 66, 66);
  border-radius: 20px;
  padding-left: 20px;
  outline: none;
  border: none;
  color: white;
  position: absolute;
  right: 50px;
}

::placeholder {
  color: white;
}
